body {
    background-color: #1f1b29;
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}

button {
    font-family: 'Roboto', sans-serif;
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    margin: 1.5rem;

    transition: transform 0.15s, color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;

    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;

    transform: translateY(-0.15em) scale(100%, 100%);
    cursor: pointer;
}

button:active {
    border-color: #adb5bd;
    box-shadow: 0 0.5em 0.5em -0.4em white;
    transition: border-color 0s, box-shadow 0s;
}

label {
    color: white;
    font-size: 1.5rem;
    margin: 2rem 0;
}

input {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.3rem;
    margin: 2rem 0;
    outline: none;
}

input:focus {
    border: 3px solid #606c38;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    /* background-color: #edede9; */
    /* color: blue; */
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0.4rem 0.75rem;
    cursor: pointer;
    background: #ED213A;
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    background: linear-gradient(to right, #93291E, #ED213A);
}

#selectFolder {
    border: 1px solid #666666;
}

#selectFolder:hover {
    cursor: pointer;
}

/* JS Classes */
.disabled {
    color: #666666;
}

.disabled:hover {
    border-color: #666666;
    color: #666666;
    box-shadow: none;
    transform: none;
    cursor: default;
}


.disabled:active {
    border-color: #666666;
    box-shadow: none;
    transition: none;
    cursor: not-allowed;
}

.notFilled {
    border: 3px solid red;
}